<div class="container mt-5">
  <h1>Create a new list</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
     <%= f.input :photo, as: :file %>
    <%= f.submit class:"btn btn-success btn-lg" %>
    <%= link_to "Back", lists_path, class:"btn btn-success btn-lg"%>
  <% end %>
</div>
